<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Advance Orders</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
  <div class="container">
    <h1>Add Advance Order</h1>
    <div class="section">
      <label>Date</label>
      <input type="date" id="date">

      <label>Amount</label>
      <input type="number" id="amount">

      <label>Fish Type</label>
      <input type="text" id="fishType">

      <label>Advance Amount</label>
      <input type="number" id="advance">

      <label>Name</label>
      <input type="text" id="name">

      <label>Contact Number</label>
      <input type="tel" id="contact">

      <button onclick="saveAdvanceOrder()">Submit</button>
    </div>
  </div>
<script src="./static/advance_order.js"></script>
</body>
</html>
